archive/
WARP.md
.DS_Store
**/.DS_Store
__pycache__/
*.pyc

# Ignore source large photos (we use optimized ones in src/web/photos)
trails/photos/
.DS_Store
**/.DS_Store
__pycache__/
*.pyc

# ignore gpx files
*.gpx

# Ignore skiing raw data
ski_tracks_original/
